@import url('https://fonts.googleapis.com/css2?family=Baloo+2&display=swap');

.navbar{
    margin:0;
    padding:0;
}

.navbar-brand{
    font-family: 'mistral';
    font-size: 180%;
}

.navbar-nav{
    font-family: 'Baloo 2', cursive;
}

.text{
    font-family: 'Baloo 2', cursive;
    color: White;
    text-align: center;
    width: 100%;
    margin-top: 10%;
    font-size: 300%;
}